<head runat="server">  
    <title></title>  
  
    <!DOCTYPE link href="https://maps/documentation/javascript/examples/default.css" rel="stylesheet" />  
<html>  
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5ze3VAgqWpK-IsjRiBuwrdznTi0Q4-xM" type="text/javascript"></script>  
    <script>  
        var mapcode;  
        var diag;  
        function initialize() {  
            mapcode = new google.maps.Geocoder();  
            var lnt = new google.maps.LatLng(26.45, 82.85);  
            var diagChoice = {  
                zoom: 9,  
                center: lnt,  
                diagId: google.maps.MapTypeId.ROADMAP  
            }  
            diag = new google.maps.Map(document.getElementById('map_populate'), diagChoice);  
        }  
        function getmap(compl) {
            mapcode.geocode({ 'address': completeaddress }, function (results, status) {  
                if (status == google.maps.GeocoderStatus.OK) {  
                    diag.setCenter(results[0].geometry.location);  
                    var hint = new google.maps.Marker({  
                        diag: diag,  
                        position: results[0].geometry.location  
                    });  
                } else {  
                    alert('Location Not Tracked. ' + status);  
                }  
            });  
        }
        google.maps.event.addDomListener(window, 'load', initialize);  
    </script>  
  
    </html>  
</head>
<body>
    <div>
        <div style="display: flex,flex-direction:row">
            <div class="card border-primary mb-4" style="max-width: 20rem;">
                <img src="../../assets/images/defaultArticleImg.png" alt="Sample Photo" style="justify-content: flex-start;" />
            </div> 
            <div  class="card border-primary mb-4" style="display: flex;">
                <div class="card-header">
                    <h2 class="display-3">@Model.Name</h1>
                </div>
                <div class="card-body">
                    <h1 class="card-text">@Model.Price €</p>
                    <button style="width:auto" type="submit" class="btn btn-primary">Buy</button>
                </div>
                <div class="card-footer">
                    <p class="card-text">Sell by @Model.Seller.UserName</p>
                    <p class="card-text" style="justify-content: end;">@Model.CreationDate</p>
                </div>
            </div>
        </div>
        <div class="card border-primary mb-4" style="display: flex;">
            <div class="card-header">
                <h3 class="display-6">Description</h3>
            </div>
            <div class="card-body">
                <p class="card-text">@Model.Description</p>
            </div>
        </div>
        <div class="card border-primary mb-4" style="display: flex;">
            <div class="card-header">
                <h3 class="display-6">Categories</h3>
            </div>
            <div class="card-body">
                @foreach ( var cat in @Model.Categories)
                {
                    <p class="card-text">@cat.Name</p>
                }
            </div>
        </div>
        <form id="form1" runat="server">  
            <div>  
                <h3 class="display-6">@Model.Location</h3>
            </div>   
            <div>
                <script type="text/javascript">
                    getmap(@Model.Location);
                </script> 
            </div>  
        <div id="map_populate" style="width:100%; height:500px; border: 5px solid #5E5454;">  
        </div>  
        </form>
    </div>
</body>
